.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}

.meta {
  padding: 1.5rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  color: var(--muted);
  font-size: small;
  line-height: 1;
}

.note {
  padding: 1.5rem;
  padding-top: 0;
  color: var(--text);
  font-size: x-large;
  line-height: 1.5;
}

.title {
  margin: 0;
  color: var(--text);
  font-size: xx-large;
  line-height: 2;
}

.bar {
  position: fixed;
  inset: 0;
  top: unset;
}

.controls {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--surface);
}

.controls button {
  background-color: var(--surface);
  border-style: none;
  padding: 1rem;
}

.controls button:hover {
  cursor: pointer;
  background-color: var(--overlay);
}
