.wrapper {
  padding: 0.75rem;
  height: 4rem;
  max-width: 80ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--base);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.hint {
  color: var(--mute);
  font-size: medium;
}

.button {
  cursor: pointer;
  padding: 0.8rem;
  color: var(--text);
  background: var(--base);
  border: none;
  border-radius: 4px;
}

.button:hover {
  background: var(--highlight-low);
}

.button:disabled {
  cursor: not-allowed;
  color: var(--muted);
  background: none;
  border: none;
}
